.grid{
    height: auto;
    min-height: 80%;
    margin: 2%;
}

.card {
    width: 100%;
    margin: 0 auto;
}

.column.register {
    max-width: 450px;
}

.message {
    max-width: 450px
}

.yellow {
    text-align:center
}