
<div class="ui grid mainpicture">
  <div class="row">
    <div class="description" style="background:#9DB2CB">
      <h1 class="ui header" >电子设计大赛</h1>
      <h3 class="ui header centered" style="margin:0; background:#9DB2CB">装填中</h3>
      <div style="width: 100px; margin:5px auto;">
        <button class="ui button" style="width: 100px;">关注</button>
      </div>
    </div>
  </div>
</div>

<div class="ui segment grid divided">
  <div class="row" style="padding:10px">
    <h1 class="ui header">科协近闻</h1>
  </div>

  <div class="three column row stackable">
    <div class="column">
      科协最近没有什么新闻
    </div>
    <div class="column">
      科协最近没有什么大新闻
    </div>
    <div class="column">
      科协最近没有搞大新闻
    </div>
  </div>

</div>

